*{
  
  margin: 0;
  padding: 0;
  background-color:black;
  box-sizing: border-box;
}
 

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
    background-color: #0d1117;

}

